// !checkout
.woocommerce {
    .checkout.woocommerce-checkout {
        padding: 62px 0 85px;
        @media screen and (max-width: 1199px) {
            padding: 12px 0 35px;
        }
        .checkout-wrapper {
            display: flex;
            @media screen and (max-width: 768px) {
                flex-wrap: wrap;
            }
            .fw-special-title {
                text-align: left;
                margin: 0;
                padding: 0px 0px 25px 0;
            }
            .customer-details {
                flex: 0 1 48.3%;
                padding-right: 15px;
                position: relative;
                &::before {
                    content: "";
                    display: block;
                    height: 100%;
                    width: 2px;
                    background: $text-color;
                    position: absolute;
                    right: 0;
                    transform: translate(50%, 0);
                }
                @media screen and (max-width: 768px) {
                    flex: 1 1 100%;
                    padding: 0;
                    margin-bottom: 30px;
                    &::before {
                        display: none;
                    }
                }
                @media screen and (min-width: 991px) {
                    padding-right: 82px;
                }
                .fw-special-title {
                    padding: 0px 0px 25px 25px;
                }
                .woocommerce-billing-fields,
                .woocommerce-additional-fields {
                    margin-bottom: 50px;
                    @media screen and (max-width: 768px) {
                        margin-bottom: 30px;
                    }
                    label {
                        display: none;
                    }
                    .form-row-first {
                        width: 100%;
                    }
                    .form-row {
                        padding: 0;
                        margin: 0 0 20px 0;
                        &:last-child {
                            margin-bottom: 0;
                        }
                        .woocommerce-input-wrapper {
                            .input-text {
                                height: 60px;
                                width: 100%;
                                max-width: 700px;
                                padding: 18px 24px;
                                border: 2px solid $text-color;
                                background: transparent;
                                font-family: "Montserrat";
                                font-size: calc(16px + 4 * ((100vw - 320px) / (1920 - 320)));
                                line-height: calc(24 / 20);
                                color: $text-color;
                                border-radius: 20px;
                                @media screen and (max-width: 768px) {
                                    max-width: inherit;
                                }

                                @media screen and (max-width: 450px) {
                                    height: 50px;
                                }
                            }
                            textarea.input-text {
                                resize: none;
                                height: 87px;
                                overflow: hidden;
                                @media screen and (max-width: 928px) {
                                    height: 100px;
                                }
                                @media screen and (max-width: 350px) {
                                    height: 120px;
                                }
                            }
                        }
                    }
                }
                .woocommerce-billing-fields {
                    .fw-special-title {
                        padding: 0px 0px 25px 0;
                        text-align: center;
                    }
                }
                #shipping_method.woocommerce-shipping-methods {
                    display: flex;
                    margin: 0 -15px;
                    flex-wrap: wrap;
                    li {
                        margin: 0;
                        padding: 0 15px 15px;
                        display: flex;
                        align-items: center;
                        input[type="radio"] {
                            display: none;
                            &:checked {
                                & + label::before {
                                    border-color: $hover-color;
                                    background: $hover-color;
                                }
                            }
                        }
                        label {
                            display: inline-block !important;
                            cursor: pointer;
                            position: relative;
                            padding-left: 25px;
                            user-select: none;
                            font-size: calc(16px + 4 * ((100vw - 320px) / (1920 - 320)));
                            line-height: calc(24 / 20);
                            font-family: "Montserrat";
                            &::before {
                                content: "";
                                display: inline-block;
                                box-sizing: border-box;
                                width: 13px;
                                height: 13px;
                                position: absolute;
                                left: 0;
                                top: 50%;
                                transform: translate(0, -50%);
                                background: transparent;
                                border: 2px solid $text-color;
                                border-radius: 50%;
                            }
                        }
                    }
                }
            }
            .woocommerce-checkout-review-order {
                flex: 1 1 40%;
                padding-left: 15px;
                .fw-special-title {
                    text-align: center;
                }
                @media screen and (max-width: 768px) {
                    padding: 0;
                }
                @media screen and (min-width: 991px) {
                    padding-left: 82px;
                }
                .shop_table {
                    display: block;
                    thead {
                        display: none;
                    }
                    tbody {
                        display: block;
                        width: 100%;
                        margin-bottom: 11px;
                        .cart_item {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            margin-bottom: 16px;
                            &:last-child {
                                margin-bottom: 0;
                            }
                            td {
                                padding: 0;
                            }
                            .product-name {
                                font-size: calc(16px + 4 * ((100vw - 320px) / (1920 - 320)));
                                line-height: calc(24 / 20);
                                font-weight: 600;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                flex: 0 1 210px;
                                .product-quantity {
                                    color: $hover-color;
                                    font-weight: 700;
                                    @media screen and (max-width: 550px) {
                                        flex: 0 0 110px;
                                    }
                                }
                            }
                            .product-total {
                                display: flex;
                                font-size: calc(18px + 7 * ((100vw - 320px) / (1920 - 320)));
                                line-height: calc(30 / 25);
                                font-weight: 600;
                            }
                        }
                    }
                    tfoot {
                        display: block;
                        width: 100%;
                        tr {
                            display: flex;
                            justify-content: space-between;
                            font-size: calc(16px + 9 * ((100vw - 320px) / (1920 - 320)));
                            line-height: calc(30 / 25);
                            letter-spacing: 1.4px;
                            padding: 5px 0;
                        }
                        th,
                        td {
                            padding: 0;
                        }
                        th {
                            font-weight: 400;
                        }
                        td {
                            font-weight: 600;
                        }
                        .cart-discount {
                            .woocommerce-remove-coupon {
                                display: none;
                            }
                        }
                        .order-total {
                            position: relative;
                            padding: 13px 0;
                            &::before {
                                content: "";
                                display: block;
                                width: 100%;
                                height: 2px;
                                background: $text-color;
                                position: absolute;
                                top: 0;
                            }
                        }
                    }
                }
                #payment.woocommerce-checkout-payment {
                    background: transparent;
                    display: flex;
                    flex-direction: column-reverse;

                    .wc_payment_methods {
                        padding: 0;
                        border: none;
                        //!УДАЛИТЬ, ЕСЛИ БУДУТ ДОБАВЛЕНЫ ПЛАТЕЖНЫЕ СИСТЕМЫ!!!!!
                        .wc_payment_method {
                            input,
                            label {
                                display: none;
                            }
                            .payment_box {
                                background: transparent;
                                color: $hover-color;
                                padding: 0;
                                margin: 0;
                                display: flex;
                                justify-content: flex-end;
                                &::before {
                                    display: none;
                                }
                                p {
                                    margin: 0;
                                    text-align: right;
                                    font-size: calc(12px + 3 * ((100vw - 320px) / (1920 - 320)));
                                    line-height: calc(18 / 15);
                                    letter-spacing: 0.7px;
                                    max-width: 340px;
                                }
                            }
                        }
                    }
                    .place-order {
                        padding: 0;
                        display: flex;
                        justify-content: flex-end;
                        .woocommerce-terms-and-conditions-wrapper {
                            display: none;
                        }
                        #place_order.button {
                            height: 60px;
                            flex: 0 1 337px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background: $hover-color;
                            border: 2px solid $hover-color;
                            font-family: "Montserrat";
                            font-weight: 600;
                            font-size: calc(16px + 4 * ((100vw - 320px) / (1920 - 320)));
                            line-height: calc(30 / 25);
                            letter-spacing: 1.2px;
                            border-radius: 10px;
                            color: $bg-color;
                            margin-bottom: 8px;
                            padding: 0;
                            transition: 0.3s ease all 0s;
                            &:hover {
                                background: transparent;
                                color: $text-color;
                            }
                            @media screen and (max-width: 768px) {
                                float: right;
                            }
                        }
                    }
                }
            }
        }
    }
}