// !contacts page
.contacts {
    padding: 62px 0 100px;
    @media screen and (max-width: 1199px) {
        padding: 12px 0 30px;
    }
    .fw-row {
        display: flex;
        align-items: center;
    }
    .fw-col-sm-6 {
        padding: 0;
    }
    .contact-column {
        @media screen and (min-width: 991px) {
            padding-left: 100px;
        }
        @media screen and (min-width: 768px) and (max-width: 990px) {
            padding-left: 15px;
        }
    }
    .fw-heading {
        margin: 0;
        .fw-special-title {
            font-size: calc(23px + 17 * ((100vw - 320px) / (1920 - 320)));
            padding: 0;
            margin: 25px 0px;
            text-align: left;
            @media screen and (max-width: 768px) {
                margin: 25px 0px 8px;
            }
        }
    }
    .contacts-text {
        font-size: calc(18px + 7 * ((100vw - 320px) / (1920 - 320)));
        line-height: calc(30 / 25);
        letter-spacing: 1.4px;
        .item {
            padding: 10px 0;
            a {
                color: $text-color;
            }
        }
    }
}
