@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
@font-face {
    font-family: "Markella";
    src: url("../fonts/markella.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}