@import "_fonts";
@import "_variables";
@import "_basic-style";
@import "_header";
@import "_home-slider";
@import "cards/_menu";
@import "cards/_cards";
@import "_cart";
@import "_checkout";
@import "_contacts";
@import "_footer";
// font-size: calc(24px + 16 * ((100vw - 320px) / (1920 - 320)));
// line-height: calc(lh / fz);

// !delivery page
.delivery {
    padding: 62px 0 100px;
    @media screen and (max-width: 1199px) {
        padding: 12px 0 50px;
    }
    .fw-row {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    .fw-col-sm-6 {
        @media screen and (max-width: 1050px) {
            flex: 1 1 100%;
            padding: 0;
        }
    }
    img {
        @media screen and (max-width: 1050px) {
            margin-bottom: 10px;
        }
    }
    .delivery-text {
        font-size: calc(16px + 9 * ((100vw - 320px) / (1920 - 320)));
        line-height: calc(37 / 25);
        letter-spacing: 1.2px;
        span {
            display: block;
        }
        &__description {
            margin-bottom: 37px;
            @media screen and (max-width: 767px) {
                margin-bottom: 20px;
            }
        }

        &__order {
            margin-bottom: 37px;
            @media screen and (max-width: 767px) {
                margin-bottom: 20px;
            }
        }

        &__pay {
            letter-spacing: 1.7px;
        }
    }
}

// !special page
.special {
    .fw-container,
    .fw-col-xs-12 {
        padding: 0;
    }
    .fw-row {
        margin: 0;
    }
}

// !comments
#comments.comments-area {
    padding: 37px 0 100px;
    @media screen and (max-width: 1199px) {
        padding: 12px 0 50px;
    }
    .comment-reply-title,
    .comment-form-url,
    .comment-form-cookies-consent {
        display: none;
    }
    // !форма комментариев
    .comment-form {
        max-width: 1186px;
        margin: 25px auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .logged-in-as {
            display: flex;
            align-items: center;
            a {
                color: $text-color;
                text-decoration: underline;
                &[aria-label*="Вы вошли как"] {
                    text-decoration: none;
                }
            }
        }
        .comment-form-author,
        .comment-form-email {
            flex: 0 1 38%;
            @media screen and (max-width: 991px) {
                flex: 0 1 49%;
            }
            @media screen and (max-width: 650px) {
                flex: 0 1 100%;
            }
        }
        .comment-form-author {
            order: 0;
            margin-right: 10px;
            @media screen and (max-width: 650px) {
                margin-right: 0;
                margin-bottom: 15px;
            }
        }

        .comment-form-email {
            order: 1;
        }

        .comment-rating {
            order: 2;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: space-between;
            flex: 0 1 19.6%;
            height: 60px;
            margin-bottom: 25px;
            @media screen and (max-width: 991px) {
                flex: 0 1 100%;
                justify-content: flex-start;
                margin: 10px 0 3px;
            }
            @media screen and (max-width: 768px) {
                height: 50px;
            }
            @media screen and (max-width: 650px) {
                margin: 0;
            }
            &__item {
                display: block;
                width: 40px;
                height: 37px;
                input {
                    display: none;
                }
                label {
                    display: block;
                    width: 40px;
                    height: 37px;
                    position: relative;
                    transition: 0.3s ease all 0s;
                    &::before {
                        content: "";
                        display: block;
                        width: 40px;
                        height: 37px;
                        position: absolute;
                        top: 0;
                        left: 0;
                        background: url(../img/icons/review/star.svg) no-repeat;
                        @media screen and (max-width: 768px) {
                            transform: scale(0.8);
                        }
                    }
                    &:hover {
                        &::before {
                            background: url(../img/icons/review/star-hover.svg) no-repeat;
                        }
                    }
                }
                &:hover {
                    & ~ .comment-rating__item label::before {
                        background: url(../img/icons/review/star-hover.svg) no-repeat;
                    }
                }
            }
        }
        .comment-rating[data-total-value="1"] .comment-rating__item:nth-child(n + 5),
        .comment-rating[data-total-value="2"] .comment-rating__item:nth-child(n + 4),
        .comment-rating[data-total-value="3"] .comment-rating__item:nth-child(n + 3),
        .comment-rating[data-total-value="4"] .comment-rating__item:nth-child(n + 2),
        .comment-rating[data-total-value="5"] .comment-rating__item:nth-child(n + 1) {
            label {
                &::before {
                    background: url(../img/icons/review/star-hover.svg) no-repeat;
                }
            }
        }

        .comment-form-comment {
            order: 3;
            flex: 0 0 100%;
            textarea {
                height: 87px;
                resize: none;
                overflow: hidden;
                margin-bottom: 20px;
            }
        }

        .comment-notes {
            order: 4;
            font-size: 0;
            flex: 0 0 100%;
            text-align: center;
            margin-bottom: 30px;
            span {
                font-size: calc(12px + 3 * ((100vw - 320px) / (1920 - 320)));
                line-height: calc(18 / 15);
                font-weight: 300;
            }
            .required {
                display: none;
            }
        }

        .form-submit {
            order: 5;
            flex: 0 0 100%;
            input {
                margin: 0 auto;
                width: 100%;
                max-width: 244px;
                height: 54px;
                padding: 0;
                background: $hover-color;
                border: 2px solid $hover-color;
                border-radius: 10px;
                color: $bg-color;
                font-weight: 600;
                letter-spacing: 1px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                transition: 0.3s ease all 0s;
                &:hover {
                    color: $text-color;
                    background: transparent;
                }
            }
        }
        p {
            margin: 0;
        }
        input,
        textarea {
            box-sizing: border-box;
            height: 60px;
            width: 100%;
            background: transparent;
            border: 1px solid $text-color;
            border-radius: 20px;
            font-size: 20px;
            font-family: "Montserrat";
            color: $text-color;
            padding: 16px 25px;
            @media screen and (max-width: 768px) {
                height: 50px;
            }
        }
    }
    // !Комментарии
    .comments-title {
        font-size: 0;
        text-align: center;
        padding: 65px 0 0 0;
        @media screen and (max-width: 991px) {
            padding-top: 25px;
        }
        @media screen and (max-width: 650px) {
            padding-top: 0;
        }
        span {
            font-size: calc(24px + 16 * ((100vw - 320px) / (1920 - 320)));
            line-height: calc(49 / 40);
            font-weight: 700;
            padding: 0;
        }
    }
    .comment-list-wrapper {
        max-width: 1186px;
        margin: 0 auto;
        .comment-list {
            margin: 0 -12.5px;
            padding: 0;
            .comment {
                border-radius: 20px;
                position: relative;
                &.depth-1 {
                    margin: 50px 12.5px;
                    @media screen and (max-width: 991px) {
                        margin: 25px 12.5px;
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
                .comment-body {
                    background: $card-color;
                    padding: 25px;
                    border-radius: 20px;
                    box-shadow: 0px 4px 25px rgba(48, 64, 72, 0.25);
                    @media screen and (max-width: 375px) {
                        padding: 25px 15px;
                    }
                    .comment-meta {
                        display: flex;
                        align-items: center;
                        flex-wrap: wrap;
                        margin-bottom: 15px;
                        @media screen and (max-width: 450px) {
                            flex-direction: column;
                            align-items: baseline;
                        }
                        img.avatar,
                        .says {
                            display: none;
                        }
                        .fn {
                            font-size: 20px;
                            line-height: 24px;
                            margin-right: 20px;
                            a {
                                color: $text-color;
                            }
                        }
                        .comment-metadata {
                            a {
                                font-size: 13px;
                                line-height: 16px;
                                color: $text-color;
                            }
                        }
                        .comment-awaiting-moderation {
                            margin-top: 10px;
                            flex: 0 0 100%;
                        }
                    }
                    .comment-content {
                        .rating {
                            display: flex;
                            position: absolute;
                            right: 25px;
                            top: 25px;
                            &__icon {
                                display: block;
                                width: 20px;
                                height: 19px;
                                margin-right: 5px;
                                background: url(../img/icons/review/star-small.svg) no-repeat;
                                &:last-child {
                                    margin-right: 0;
                                }
                                &.active {
                                    background: url(../img/icons/review/star-small-hover.svg) no-repeat;
                                }
                            }
                        }
                    }
                    .reply {
                        // font-size: 0;
                        display: flex;
                        justify-content: flex-end;
                        a {
                            display: flex;
                            align-items: center;
                            color: $text-color;
                            font-size: 13px;
                            padding: 5px 0;
                            &:hover {
                                color: $hover-color;
                            }
                        }
                    }
                }
                .children {
                    margin: 10px 0;
                    @media screen and (max-width: 450px) {
                        padding: 0;
                    }
                    li {
                        margin: 10px 0;
                        .comment-body {
                            border-radius: 20px;
                            box-shadow: 0px 4px 25px rgba(48, 64, 72, 0.25);
                        }
                    }
                }
            }
        }
    }
}

.woocommerce {
    .woocommerce-pagination {
        margin-bottom: 50px;
        @media screen and (max-width: 991px) {
            margin-bottom: 25px;
        }
        .page-numbers {
            border: none;
            li {
                border: none;
                display: block;
                width: 40px;
                height: 40px;
                .current {
                    background: transparent;
                    border: 2px solid $text-color;
                    border-radius: 5px;
                    color: $text-color;
                }
                a,
                span {
                    color: $text-color;
                    font-size: 20px;
                    line-height: 24px;
                    width: 40px;
                    height: 40px;
                    padding: 0;
                    box-sizing: border-box;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                a {
                    &:hover,
                    &:checked,
                    &:focus {
                        background: transparent;
                    }
                }
            }
        }
    }
}
