// !МЕНЮ категорий
.section-product-menu {
    .woocommerce {
        .products {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin: -10px;
            @media screen and (max-width: 400px) {
                margin: -10px;
            }
            .product-category {
                width: 100%;
                max-width: 25%;
                flex: 0 0 25%;
                margin: 0 !important;
                text-align: center;
                @media screen and (max-width: 991px) {
                    max-width: 33.33333%;
                    flex: 0 0 33.33333%;
                }
                @media screen and (max-width: 699px) {
                    max-width: 50%;
                    flex: 0 0 50%;
                }
                @media screen and (max-width: 400px) {
                    max-width: 100%;
                    flex: 0 0 100%;
                }
                a {
                    display: block;
                    border: 3px solid $text-color;
                    border-radius: 20px;
                    padding: 23.5px 0;
                    margin: 10px;
                    color: $text-color;
                    transition: 0.3s ease all 0s;
                    &:hover {
                        border-color: $hover-color;
                        color: $hover-color;
                    }
                    @media screen and (max-width: 400px) {
                        margin: 5px;
                        padding: 13px 0;
                    }
                    .woocommerce-loop-category__title {
                        font-size: calc(16px + 9 * ((100vw - 320px) / (1920 - 320)));
                        line-height: calc(30 / 25);
                        letter-spacing: 1.3px;
                        padding: 0;
                        font-weight: 600;
                        @media screen and (max-width: 991px) {
                            word-break: break-word;
                        }
                        .count {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
.product-menu {
    margin: 25px 0;
    display: flex;
    justify-content: center;
    @media screen and (max-width: 768px) {
        margin: 0 0 15px;
    }
    .woocommerce {
        .products {
            justify-content: center;
            margin: 0 -14px;
            max-width: 1210px;
            &.columns-3 {
                .product-category {
                    width: inherit;
                    margin: 6px;
                    @media screen and (max-width: 768px) {
                        flex: 0 0 44%;
                    }
                    @media screen and (max-width: 450px) {
                        flex: 1 1 45%;
                    }
                }
            }
            .product-category {
                text-align: center;
                margin: 14px;
                a {
                    display: block;
                    border: 2px solid $text-color;
                    border-radius: 20px;
                    padding: 10px 18px;
                    color: $text-color;
                    transition: 0.3s ease all 0s;
                    &:hover {
                        border-color: $hover-color;
                        color: $hover-color;
                    }
                    .woocommerce-loop-category__title {
                        font-size: calc(12px + 8 * ((100vw - 320px) / (1920 - 320)));
                        line-height: calc(20 / 20);
                        letter-spacing: 0px;
                        padding: 0;
                        font-weight: 600;
                        @media screen and (max-width: 991px) {
                            word-break: break-word;
                        }
                        .count {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
// !Модификатор каталога страницы shop
.product-menu--page-shop {
    .woocommerce {
        .products {
            max-width: inherit;
            .product-category {
                margin: 0px 5px !important;
                a {
                    border-color: transparent;
                    .woocommerce-loop-category__title {
                        font-size: calc(19px + 6 * ((100vw - 320px) / (1920 - 320)));
                        line-height: calc(27 / 25);
                        letter-spacing: 1.3px;
                    }
                }
            }
        }
    }
}